// Eric Meyer’s “Reset CSS” 2.0

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  background-color: #f7f7f7;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

// end of css reset

.container {
  max-width: 1520px;
  width: 100%;
  margin: 0 auto;
}

.container-fluid {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}

body {
  font-family: 'Open Sans';
}

* {
  box-sizing: border-box;
}

$color-green-main: #99ca3b;

@mixin button($bg-color, $txt-color) {
  width: 220px;
  height: 60px;
  border-radius: 2px;
  background-color: $bg-color;
  color: $txt-color;
  font-size: 16px;
  font-weight: 700;
  line-height: 28px;
  border: none;
  cursor: pointer;
  transition: 0.4s;
  &:hover {
    background-color: darken($bg-color, 10%);
  }
}

@mixin barBottom($barColor, $barWidth) {
  &::after {
    content: '';
    height: 10px;
    width: $barWidth;
    border-radius: 2px;
    background-color: $barColor;
    bottom: -20px;
    margin: 0 auto;
    left: -10px;
    right: 0;
    position: absolute;
  }
}

.hero {
  background-image: url(../images/bg-main.png);
  background-size: contain;
  background-position-y: 120px;
  height: 720px;
  background-repeat: no-repeat;
  width: 100%;
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .navbar-list {
      color: #575656;
      font-size: 14px;
      font-weight: 400;
      line-height: 24px;
      text-transform: uppercase;
      letter-spacing: 0.7px;
      display: inline-block;
      li {
        display: inline;
        line-height: 120px;
        margin-right: 20px;
        &:last-of-type {
          margin-right: 0;
        }
        a {
          color: #000;
          text-decoration: none;
        }
      }
    }
  }
  .hero-text {
    max-width: 1200px;
    color: #ffffff;
    text-align: justify;
    margin: 200px auto 0 auto;
    p {
      font-size: 20px;
      font-weight: 300;
      line-height: 28px;
      letter-spacing: 1px;
    }
    h4 {
      margin-top: 60px;
      font-size: 12px;
      letter-spacing: 0.6px;
      text-align: center;
    }
  }
}

.story {
  height: 1700px;
  .story-content {
    height: 650px;
    position: relative;
    .story-content-image {
      border: 10px solid white;
      border-radius: 2px;
      max-width: 560px;
      height: 630px;
      position: absolute;
      top: -100px;
      @include barBottom($color-green-main, 560px);
    }
    .story-content-text {
      float: right;
      display: flex;
      flex-direction: column;
      margin-left: 50px;
      width: 60%;
      color: #4e4c4c;
      h2 {
        margin-top: 100px;
        font-size: 26px;
        font-weight: 700;
        letter-spacing: 1.3px;
      }
      p {
        margin-top: 50px;
        font-size: 16px;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 0.8px;
        text-align: justify;
      }
      .story-content-text-button {
        margin-top: 50px;
        @include button($color-green-main, #fff);
      }
    }
  }
  .about-content {
    text-align: center;
    height: 600px;
    .about-content-image {
      width: 1540px;
      border: 10px solid #fff;
      border-radius: 2px;
      position: relative;
      @include barBottom($color-green-main, 1540px);
    }
    .about-content-text {
      margin-top: 50px;
      text-align: left;
      color: #4e4c4c;
      h2 {
        font-size: 26px;
        font-weight: 700;
        letter-spacing: 1.3px;
      }
      p {
        margin: 50px auto;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 0.8px;
        line-height: 28px;
      }
      .about-content-button {
        @include button($color-green-main, #fff);
      }
    }
  }
}

.about-section {
  background-color: $color-green-main;
  height: 1080px;
  .about-section-content {
    padding-top: 50px;
    display: flex;
    justify-content: space-between;

    [class*='item'] {
      width: 420px;
      color: #ffffff;
      .about-section-content-image {
        border: 10px solid #fff;
        width: 440px;
        height: 485px;
        position: relative;
        @include barBottom(#709a1e, 440px);
      }
      h2 {
        margin-top: 50px;
        font-size: 26px;
        font-weight: 700;
        letter-spacing: 1.3px;
      }
      p {
        margin-top: 50px;
        font-size: 16px;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 0.8px;
        height: 300px;
      }
      .about-section-content-button {
        @include button(#fff, #000);
      }
    }
  }
}
