html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  background-color: #f7f7f7;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container {
  max-width: 1520px;
  width: 100%;
  margin: 0 auto;
}

.container-fluid {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}

body {
  font-family: 'Open Sans';
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.hero {
  background-image: url(../images/herobg.jpg);
  background-size: contain;
  background-position-y: 120px;
  height: 720px;
  background-repeat: no-repeat;
  width: 100%;
}

.hero .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 120px;
  background-color: #fff;
}

.hero .navbar .navbar-list {
  color: #575656;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0.7px;
  display: inline-block;
}

.hero .navbar .navbar-list li {
  display: inline;
  line-height: 120px;
  padding-right: 20px;
}

.hero .navbar .navbar-list li:last-of-type {
  padding-right: 0;
}

.hero .navbar .navbar-list li a {
  color: #000;
  text-decoration: none;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.hero .navbar .navbar-list li a:hover {
  border-bottom: 4px solid #99ca3b;
}

.hero .hero-text {
  height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero .hero-text h1 {
  color: #ffffff;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 26px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 1.3px;
}

.story .story-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 100px;
}

.story .story-content .story-content-image {
  border: 10px solid white;
  border-radius: 2px;
  max-width: 560px;
  height: 100%;
  position: relative;
}

.story .story-content .story-content-image::after {
  content: '';
  height: 10px;
  width: 560px;
  border-radius: 2px;
  background-color: #99ca3b;
  bottom: -20px;
  margin: 0 auto;
  left: -10px;
  right: 0;
  position: absolute;
}

.story .story-content .story-content-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 50px;
  color: #4e4c4c;
}

.story .story-content .story-content-text h2 {
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 1.3px;
}

.story .story-content .story-content-text p {
  margin-top: 50px;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.8px;
  text-align: justify;
}

.home-gallery {
  margin-top: 100px;
}

.home-gallery .gallery-heading {
  text-align: center;
  color: #4e4c4c;
  font-size: 26px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 1.3px;
  margin: 100px 0;
}

.home-gallery .gallery-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home-gallery .gallery-wrapper .gallery-item {
  width: 24%;
}

.footer {
  margin: 100px auto;
  text-align: center;
  color: #323232;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.8px;
}
/*# sourceMappingURL=style.css.map */